body {
    background-image: url('../../Design/Background/levelscreen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    position: absolute;
    text-transform: uppercase;
    color: rgb(255, 255, 140);
    text-shadow: 3px 3px 0 #3c5b10;
    font-size: 28px;
    left: 7.5%;
    top: 8%;
}

#success-login
{
    position: absolute;
    left: 29%;
    top: 18%;
    color: hsl(85, 70%, 31%);
}

/*To position and style the register button*/
.register
{
    position:absolute;
    bottom: 52.5%;
    right: 19%;
    cursor: pointer;
}

.register-pop-up
{
    width: 300px;
    height: 170px;
    background-color: azure;
    opacity: 0.9;

    position: absolute;
    top: 26%;
    left: 8.5%;
}

.user label{
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    left: 10%;
    top: 30%;
}
#username{
    position: absolute;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
    font-size: 15px;
    left: 40%;
    top: 29.3%;
    height: 30px;
    border-radius: 35px;
    border: none;
}

.pass label{
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    left: 10%;
    top: 40%;
}

#password{
    position: absolute;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
    font-size: 15px;
    left: 40%;
    top: 39.3%;
    height: 30px;
    border-radius: 35px;
    border: none;
}

#avatar
{
    position: absolute;
    bottom: 28%;
    left: 13%;
}
.play-button{
    position: absolute;
    border-radius: 35px;
    bottom: 20%;
    left: 75%;
    width: 55px;
    height: 55px;
    font-size: 23px;
    background: white;
    color: hsl(85, 70%, 31%);
    border: none;
}

.play-button #icon {
    position: absolute;
    width: 25px;
    bottom: 29%;
    left: 26%;
}


.menu-button{
    position: absolute;
    border-radius: 35px;
    bottom:20%;
    left: 43%;
    width: 55px;
    height: 55px;
    font-size: 25px;
    outline: none;
    background: white;
    color: hsl(85, 70%, 31%);
}

.menu-button #icon {
    position: absolute;
    width: 25px;
    bottom: 29%;
    left: 26%;
}

.color-button{
    position: absolute;
    border-radius: 35px;
    bottom:20%;
    left: 13%;
    width: 55px;
    height: 55px;
    font-size: 25px;
    background: white;
    color: hsl(85, 70%, 31%);
}

.color-button #icon {
    position: absolute;
    width: 25px;
    bottom: 29%;
    left: 26%;
}
button{
    border: none;
}

/*To position and resize music note icon*/
.music_notes
{
    position: absolute;
    left: 10%;
    bottom: 5%;
}
.music_notes i
{
    font-size:36px; 
    color:black;
}

@media only screen and (max-width: 600px) {
    body {
      background-image: "../../Design/Background/levelscreen.png";
    }
  }