body {
    background-image: url('../../Design/Background/levelscreen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    position: absolute;
    text-transform: uppercase;
    color: rgb(255, 255, 140);
    text-shadow: 3px 3px 0 #3c5b10;
    font-size: 25px;
    left: 18%;
    top: 5%;
}

#success-login
{
    position: absolute;
    left: 29%;
    top: 18%;
    color: hsl(85, 70%, 31%);
}


/*To position and style the login*/
.user label{
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    left: 10%;
    top: 30%;
}
#username{
    position: absolute;
    text-transform: uppercase;
    color: black;
    opacity: 0.65;
    font-size: 15px;
    left: 40%;
    top: 29.3%;
    height: 30px;
    border-radius: 35px;
    border: none;
}

.pass label{
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    left: 10%;
    top: 40%;
}

#password{
    position: absolute;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
    font-size: 15px;
    left: 40%;
    top: 39.3%;
    height: 30px;
    border-radius: 35px;
    border: none;
}

/*To position lottie*/
#avatar
{
    position: absolute;
    bottom: 28%;
    left: 13%;
    z-index: -1;
}

/*To position and style buttons*/
.play-button{
    position: absolute;
    border-radius: 35px;
    bottom: 20%;
    left: 75%;
    width: 55px;
    height: 55px;
    font-size: 23px;
    background: white;
    color: hsl(85, 70%, 31%);
    border: none;
}

.play-button #icon {
    position: absolute;
    width: 25px;
    bottom: 29%;
    left: 26%;
}

.menu-button{
    position: absolute;
    border-radius: 35px;
    bottom:20%;
    left: 43%;
    width: 55px;
    height: 55px;
    font-size: 25px;
    outline: none;
    background: white;
    color: hsl(85, 70%, 31%);
}

.menu-button #icon {
    position: absolute;
    width: 25px;
    bottom: 29%;
    left: 26%;
}

.color-button{
    position: absolute;
    border-radius: 35px;
    bottom:20%;
    left: 13%;
    width: 55px;
    height: 55px;
    font-size: 25px;
    background: white;
    color: hsl(85, 70%, 31%);
}

.color-button #icon {
    position: absolute;
    width: 25px;
    bottom: 29%;
    left: 26%;
}
button{
    border: none;
}

/*To position and resize music note icon*/
.music_notes
{
    position: absolute;
    left: 10%;
    bottom: 5%;
}
.music_notes i
{
    font-size:36px; 
    color:black;
}

/* forget password*/
#forgot-link{
    /*color: #0FC491;*/
    color: rgb(255, 255, 140);
    text-shadow: 0px 1px 0 black;
    position: absolute;
    bottom: 385px;
    left: 38px;
}
#forgot-link:active{
    margin: 3px 5px;
 }
a{
	outline: 0;
	text-decoration: none;
    /*color: #0FC491;*/
    color: rgb(255, 255, 140);
    text-shadow: 1px 1px 0 black;
}
.modal-bg{
	position:absolute;
	left:0;right:0;
	top:0;bottom:0;
	background-color:rgba(50,50,50,0.5);
}

/*Signup button on avatar page*/
.signup-button{
	position:absolute;
	font-size:17px;
	opacity: 0.9;
	border-radius: 30px;
	padding:7px 15px;
	color:rgb(255, 255, 140);
    font-weight: bold;
    text-shadow: 0px 1px 0 black;
	cursor:pointer;
    bottom: 40%;
    left: 20%;
	margin:50px 70px;
 	-webkit-transition:margin 100ms;
	-moz-transition:margin 100ms;
	transition:margin 100ms ;	
}
.signup-button:active{
   margin: 53px 70px;
}

.signup-button:hover{
	background: white;
    color: #98ddf8;
    text-shadow: none;
}

form{
	display:block;
	margin:50px;
    position: absolute;
    bottom: -5%;
}
form *{
	margin:10px;
}

/*signup page username*/
#signup-username{
    position: absolute;
	width: 200px;
	padding:10px;
	border-radius:15px;
    border: none;
    bottom: 100px;
    background-color: #98ddf8;
}
#signup-username::placeholder{
    color: white;
}

#signup-password{
    width:200px;
	padding:10px;
	border-radius:15px;
    border: none;
    position: absolute;
    opacity: 0.9;
    bottom: 50px;
    background-color: #98ddf8;

}
#signup-password::placeholder{
    color: white;
}
#modal{ 
	position:absolute;
	background-color:white;
	top:50%; 
	left:50%;
	z-index:101;
	border-radius:10px;
	width:340px;
	height:260px;
	margin-top:-130px;
	margin-left:-170px;
	border-bottom: 3px solid #98ddf8;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.3);
    
}

#submit-button{
    float: right;
	padding: 8px 12px;
	margin-top: 15px;
	border: none;
	color: #98ddf8;
	border-radius: 10px;
	cursor: pointer;
    background-color: white;

}
#submit-button:active{
	margin: 18px 10px;
}
#submit-button:hover{
	background-color:#98ddf8;
    color: white;
}


#modal span{
	display: block;
	background: #98ddf8;
    border-radius:10px 10px 0 0;
	padding: 10px;
	color:#fff;
}

#close{
	float: right;
	color: #fff;
    margin-top:-4px;
	font-family: serif;
	font-size: 20px;
}
#close:hover{
	color:gray;
}