/*=============== HOMEPAGE Background Elements ===============*/
body 
{
    background-image: url('../../Design/startscreen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo
{
    position: absolute;
    left: 10%;
    top: 19%;
}
.logo img
{
    width: 90%;
}

.music_notes
{
    position: absolute;
    left: 5%;
    bottom: 3%;
}
.music_notes i
{
    font-size:43px; 
    color:black;
}