/*=============== HOMEPAGE Background Elements ===============*/
body
{
    background-image: url('../../Design/Background/levelscreen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*To position logo*/
.logo
{
    position: absolute;
    left: 10%;
    top: 19%;
    cursor: pointer;
}
.logo img
{
    width: 90%;
    transition-duration: 0.8s;
    transition-property: transform;
}

/*To animate logo*/
@keyframes wiggle 
{
    0% {transform: rotate(3deg);}
    25% {transform: rotate(-3deg);}
    50% {transform: rotate(3deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(3deg);}
}

.logo img.wiggle 
{
    display: inline-block;
    animation: wiggle 2.5s infinite;
}
  
.logo img.wiggleinterrupt
{
    animation: none;
}

/*To position lotties*/
.avatar
{
    position: absolute;
    right: 1%;
    bottom: 37%;
    width: 290px; 
    height: 290px;
}

.burger
{
    position: absolute;
    right: 1%;
    top: 1%;
    width: 100px; 
    height: 100px;
}

.fries
{
    position: absolute;
    left: 2%;
    top: 1%;
    width: 150px; 
    height: 150px;
}

/*To create "START GAME" and "INSTRUCTIONS" button*/
button
{
    border-radius: 15px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 70%;
    height: 7%;

    position: absolute;
    left: 16.5%;
}
.start_button
{
    bottom: 25%;
}

/* This one only for desktop because mobile only can tap not hover
.start_button:hover  
{
    background-color: #ebebeb;
}
*/

.start_button:active 
{
    background-color: #dfdfdf;
}

.intructions_button
{
    bottom: 15%;
}

/*
.intructions_button:hover 
{
    background-color: #ebebeb;
}
*/

.intructions_button:active 
{
    background-color: #dfdfdf;
}

/*To position and resize music note icon*/
.music_notes
{
    position: absolute;
    left: 10%;
    bottom: 5%;
}
.music_notes i
{
    font-size:36px; 
    color:black;
}

@media (min-width:1200px) 
{
    /*To change the bg img something more suited to desktop*/
    body
    {
        background-image: url('../../Design/Background/desktop.png');
    }

    /*To position the logo*/
    .logo
    {
        left: 35.5%;
        top: 8%;
    }
    .logo img
    {
        width: 45%;
    }

    /*To position lotties*/
    .avatar
    {
        right: 41%;
        bottom: 35%;
    }

    .burger
    {
        right: 28%;
        top: 13%;
    }

    .fries
    {
        left: 25%;
        top: 10%;
        width: 160px; 
        height: 160px;
    }

    /*To resize the buttons*/
    button
    {
        width: 18%;
        height: 7%;
        left: 40.5%;
    }

    /*To position and resize music note icon*/
    .music_notes
    {
        left:33%;
        bottom: 12%;
    }
    .music_notes i
    {
        font-size:45px; 
    }
}