/*=============== HOMEPAGE Background Elements ===============*/
body 
{
    background-image: url('../../Design/Background/levelscreen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*To position logo*/
.logo
{
    position: absolute;
    left: 10%;
    top: 19%;
}
.logo img
{
    width: 90%;
}

/*To position lotties*/
.avatar
{
    position: absolute;
    right: 1%;
    bottom: 37%;
}
.burger
{
    position: absolute;
    right: 1%;
    top: 1%;
    
}

/*To create "START GAME" and "INSTRUCTIONS" button*/
button
{
    border-radius: 15px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.start_button
{
    position: absolute;
    width: 70%;
    height: 7%;
    bottom: 25%;
    left: 16.5%;
}
.start_button:hover 
{
    background-color: #ebebeb;
}

.intructions_button
{
    position: absolute;
    width: 70%;
    height: 7%;
    bottom: 15%;
    left: 16.5%;
}
.intructions_button:hover 
{
    background-color: #ebebeb;
}

/*To position and resize music note icon*/
.music_notes
{
    position: absolute;
    left: 10%;
    bottom: 5%;
}
.music_notes i
{
    font-size:36px; 
    color:black;
}