/*Add background image*/
body {
    background-image: url('../../Design/Background/levelscreen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*Position and style title*/
.title {
    position: absolute;
    text-transform: uppercase;
    color: rgb(255, 255, 140);
    text-shadow: 5px 5px 0 #3c5b10;
    font-size: 100px;

    left: 12%;
    top: 8%;
}

/*Level Selection buttons*/
.level-buttons{
    position: absolute;
    top: 25%;
    left: 19.5%;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    text-align: center;
}
.level-buttons .level-block {
	width: 155px;
	height: 155px;
    margin: 25px;
	background-color: hsl(85, 70%, 31%);
    border-radius: 20px;
}
.level-block p
{
    color: white;
    font-size: 80px;
    margin-top: 20%;
}
.level-block #lock_icon
{
    color: rgb(211, 211, 211);
    font-size: 70px;
    margin-top: 20%;
}

/* for desktop
.level-buttons .level-block.enabled {
	cursor: pointer;
}
.level-buttons .level-block.enabled:hover {
	background-color: hsl(85, 70%, 40%);
}
*/

.level-buttons .level-block.enabled:active {
	background-color: hsl(85, 70%, 40%);
}

/*Back to menu button*/
.menu-button {
    position: absolute;
    left: 44%;
    top: 53%;

    background: hsl(85, 70%, 31%);
    padding: 15px 30px;
    color: white;
    width: 130px;
    height: 125px;
    font-size: 65px;
    border-radius: 20px;
    /* for desktop
    cursor: pointer;
    */
}

/*for desktop button:hover,*/ button:active {
    background: hsl(85, 70%, 40%);
}

/*To position and resize music note icon*/
.music_notes
{
    position: absolute;
    left: 10%;
    bottom: 5%;
}
.music_notes i
{
    font-size:100px; 
    color:black;
}