body {
    background-image: url('../../Design/Background/levelscreen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*To position and style the title*/
.title {
    position: absolute;
    text-transform: uppercase;
    color: rgb(255, 255, 140);
    text-shadow: 5px 5px 0 #3c5b10;
    font-size: 100px;
    left: 8%;
    top: 6%;
}

/*To position and style the controls*/
.controls{
    position: absolute;
    left:5%;
    top: 19%;
    text-align: center;
    padding: 15px 30px;
    color: black;
    font-size: 60px;
}
.up-arrow{
    position: absolute;
    left:46%;
    top: 90%;
    background-color: hsl(85, 70%, 31%);
    padding: 15px;
    border-radius: 20px;
    font-size: 50px;
}

.left-arrow{
    position: absolute;
    left:36%;
    top: 120%;
    background-color: hsl(85, 70%, 31%);
    padding: 15px;
    border-radius: 20px;
    font-size: 50px;
}
.right-arrow{
    position: absolute;
    left: 56.5%;
    top: 120%;
    background-color: hsl(85, 70%, 31%);
    padding: 15px;
    border-radius: 20px;
    font-size: 50px;
}

.down-arrow{
    position: absolute;
    left:46%;
    top: 120%;
    background-color: hsl(85, 70%, 31%);
    padding: 15px;
    border-radius: 20px;
    font-size: 50px;
}

/*To position and style the aim*/
.aim{
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 15px 30px;
    color: black;
    font-size: 60px;
}

.aim .items img
{
    width: 100px;
    height: 160px;
}

/*To position and style the back to menu button*/
button {
    background: hsl(85, 70%, 31%);
    border: none;
    color: white;
    position: absolute;
    right: 10%;
    bottom:5%;
    width: 130px;
    height: 125px;
    font-size: 65px;
    border-radius: 20px;
}

button:focus {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
    outline: none;
}

button:hover, button:active {
    background: hsl(85, 70%, 40%);
}

/*To position and style the music note*/
.music_notes
{
    position: absolute;
    left: 10%;
    bottom: 5.5%;
}
.music_notes i
{
    font-size:100px; 
    color:black;
}

@media (min-width:1200px)
{
    /*To change the bg img something more suited to desktop*/
    body
    {
        background-image: url('../../Design/Background/desktop.png');
    }

    /*Resize the title*/
    .title
    {
        font-size: 48px;
        left: 38%;
    }

    /*Resize the controls*/
    .controls
    {
        font-size: 25px;
        left: 18%;
    }

    .up-arrow{
        font-size: 20px;
        border-radius: 15px;
        left: 43%;
    }
    
    .left-arrow{
        font-size: 20px;
        border-radius: 15px;
        top: 125%;
        left: 30%;
    }
    .right-arrow{
        font-size: 20px;
        border-radius: 15px;
        top: 125%;
        left: 57%;
    }
    
    .down-arrow{
        font-size: 20px;
        border-radius: 15px;
        left: 43%;
        top: 125%;
    }

    /*To position and style the aim*/
    .aim{
        font-size: 25px;
        right: 15%;
        top: 19%;
    }
    .aim .items img
    {
        width: 50px;
        height: 60px;
    }
    /*To position and style the music note*/
    .music_notes
    {
        left: 21%;
        bottom: 15%;
    }
    .music_notes i
    {
        font-size:50px; 
        color:black;
    }

    /*To position and style the back to menu button*/
    button {
        right: 21%;
        bottom: 15%;
        width: 50px;
        height: 53px;
        font-size: 25px;
        border-radius: 15px;
    }
}